html {
  font-size: 16px;
}

/* ========== Global ========== */

.flexlist {
  display: flex;
}

.fleximg {
  font-size: 0; /* Mitigate whitespace */
}

.fleximg > img {
  width: 100%;
}

body {
  font-family: sans-serif;
}

.button {
  background-color: #808080;
  color: #fff;
  text-align: center;
  padding: 8px 0;
}

a {
  color: #419bea;
  text-decoration: none;
}

.mobile {
  display: none;
}

/* ========== Main header ========== */
#mainheader {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #FFF;
  height: 64px;
}

#mainheader #logo-section {
  flex-grow: 1;
}

#mainheader #logo-section > a {
  display: flex;
  align-items: center;
  padding-left: 1.5rem;
  height: 100%;
}

#colmar-title {
  font-weight: bold;
}

#mainheader #action-section {
  display: flex;
  align-items: center;
}

#mainheader li {
  padding: 0 16px;
}

#mainheader a {
  color: inherit;
}

/* ========== Main section - Jumbotron ========== */

#mainmainsection {
  /* Account for fixed header */
  padding-top: 64px;
}

.jumbotron {
  background-color: #eee;
}

.jumbo-feature {
  display: flex;
  padding: 32px 24px;
  align-items: center;
}

.jumbo-img {
  width: 60%;
  margin-right: 40px;
  flex-shrink: 0;
}

.jumbo-img img {
  width: 100%;
  height: auto;
}

.headline {
  font-size: 3rem;
}

.jumbo-content {
  padding-right: 4rem;
}

.jumbo-content h1 {
  margin: 2rem 0;
}

.jumbo-content h2 {
  font-size: 1.5rem;
  margin: 2rem 0;
}

/* ========== Main section - information ========== */
#information {
  display: flex;
}

.info-col.info-highlight {
  width: 80%;
  padding: 32px 24px;
  border-right: 1px solid #c0c0c0;
}

.info-col.info-highlight img {
  width: 100%;
}
.info-col.info-highlight > img {
  margin-bottom: 32px;
  display: block;
}

.info-col.info-highlight h1, .info-col.info-highlight p {
  margin: 24px 0;
}

.info-col.info-features {
  padding-top: 16px;
}

.info-feature {
  display: flex;
  align-items: center;
  padding: 16px;
  border-bottom: 1px solid #c0c0c0;
  transition: 200ms background-color linear;
}

.info-feature:last-child {
  border-bottom: 0 none #000;
}

.info-feature .fleximg {
  width: 35%;
  flex-shrink: 0;
}

.info-feature:hover {
  background-color: #c0c0c0;
}

.feature-content {
  margin: 0 16px;
}

.feature-content h3 {
  font-size: 1.5rem;
}

.feature-content > * {
  margin: 8px 0;
}

.feature-content a {
  display: block;
  margin-top: 16px;
}

/* ========== Main section - start learning ========== */
#startlearning {
  background-color: #c0c0c0;
}

#startlearning h1 {
  font-size: 3rem;
  padding: 2rem;
  text-align: center;
}

#startlearning .courses {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 10%;
  padding-bottom: 32px;
}

#startlearning .course {
  width: 30%;
}
